[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
/packages
*.suo
*.user
/TestResult.xml
/TestCoverage.xml
/TestCoverageReport*
/Docs/*.shfbproj
/Docs/Help
StyleCop.Cache
Uploads
/PackageForGithub/*.manifest
/TestCoveragePrivate.xml
/TestResultPrivate.xml
/BandsAround/packages/*
packages
*[Nn][Cc]runch*
/*.ncrunchsolution
AppPackages/
/TestsDebugger
/PackagePublicNuGet/*
.DS_Store
.vs