<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="653a0571-cdea-4868-834a-7a5e20fb7a12" Publisher="CN=jrea" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Nokia.Music.TestApp</DisplayName>
    <PublisherDisplayName>Nokia Music</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Nokia.Music.TestApp.App">
      <VisualElements DisplayName="Nokia Music API" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Nokia.Music.TestApp" ForegroundText="light" BackgroundColor="#0086d8" ToastCapable="false">
        <DefaultTile ShowName="allLogos" ShortName="Nokia Music API" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="musicLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>